@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,500&family=Rubik:ital,wght@0,900;1,900&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 80%;
}

footer
{
  text-align: center;
  background: linear-gradient(60deg, #575756 0%, #b63265 100%);
  color: white;
  height: 30px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.systemUrlopowy {
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 33px;
  margin-top: 10px;
}

h5.wnioski {
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size:25px;
  color: white;
  padding: 5px;
  background-color: #575756;
  border: 4px solid #b63265;
  border-radius: 5px;
}

.header {
  position:fixed;
  width: 100%;
  text-align:center;
  background: linear-gradient(60deg, #575756 0%, #b63265 100%);
  color:white;
}
.logo {
  width:180px;
  fill:white;
  padding-right:12px;
  display:inline-block;
  vertical-align: middle;
  margin-bottom: 8px; 
}

.inner-header {
  height: 15%;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}



/* Table Styles */
#table-wrapper {
  margin: 10px 20px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
}

#fl-table {
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  background-color: white;
  font-size: 16px;
}

#fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

#fl-table td {
  border-right: 1px solid #f8f8f8;
}

#fl-table thead th {
  color: #ffffff;
  background: #b63265;
}

#fl-table thead th:nth-child(odd) {
  background: #575756;
}

#fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */
@media (max-width: 767px) {
  #table-container {
    overflow-x: auto;
  }

  #table-wrapper {
    margin: 10px 0;
  }

  #fl-table {
    width: auto;
    max-width: none;
  }

  #fl-table thead {
    display: block;
  }

  #fl-table tbody {
    display: block;
    overflow: auto;
  }

  #fl-table tr {
    display: block;
    margin-bottom: 15px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }

  #fl-table th,
  #fl-table td {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    height: auto;
    padding: 15px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #e6e4e4;
    position: relative;
    white-space: nowrap;
    min-width: 120px;
    box-sizing: border-box;
  }

  #fl-table th {
    background-color: #b63265;
    color: #ffffff;
  }

  #fl-table td:before,
  #fl-table th:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    padding-left: 15px;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    background-color: #f8f8f8;
  }
}


/* BUTTONS STYLE */
@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: #b63265;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: white;
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}



@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}

a.buttonLink {
  color: inherit;
  text-decoration: inherit;
}

a.buttonLink:hover {
  color: white;
}


/*menu style*/

nav {
	margin: 27px auto 0;
	position: relative;
	width: 450px;
	height: 50px;
	background-color: #575756;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 150px;
}
a:nth-child(2) {
	width: 150px;
}
a:nth-child(3) {
	width: 150px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 150px;
	left: 0;
	background-color: #b63265;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 150px;
	left: 150px;
	background-color: #b63265;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 150px;
	left: 300px;
	background-color: #b63265;
}

/*request form style*/

.requestForm {
  padding: 5px;
  text-align: center;
  width: 250px;
  height: 300px;
  border-radius: 8px;
  background-color: #575756;
  border: 4px solid #b63265;
  color: white;
}